* {
    border: none;
}
body {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 18rem;
    margin: 10rem auto;
    background-color: grey;
    border-radius: 1rem;
}

img {
    display: block;
    margin: 1rem auto;
    width: 5rem;
    background-color: azure;
    height: 5rem;
    border-radius: 50%;
}

input[type=text] {
    border-bottom: solid thin;
    margin: 0 2rem;
    height: 2rem;
    border-radius: 10px;
    font-style: italic;
    padding-left: 2rem;
  }

i {
    position: absolute;
    top: 17.5rem;
    left: 34.5rem;

}

i:last-of-type {
    position: absolute;
    top: 20.5rem;
    left: 34.5rem;
}

input[type=password] {
    border-bottom: solid thin;
    margin: 0 2rem;
    height: 2rem;
    border-radius: 10px;
    padding-left: 2rem;
    margin-top: 1rem;
    font-style: italic;
}

div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
}

label {
    font-size: small;
    color: white;
}

a {    
    color: white;
    font-size: small;
}

input[type=button] {
    margin: 0 2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
}